h1{
    text-align:center;
}
/* #social-pages{
    margin-left: 25%;
} */
#home{
    background-image: url("/images/h_img.jpg");
    background-position: center;
    background-size: cover;
    padding: 100px;
    text-align: center;
    filter: brightness(120%);
    color: white;
}
/* #home >img{
    position: center;
} */
#services{
    background-image: url("/images/s_image.jpg");
    padding: 100px;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}
#contacts{
    background-image: url("/images/c_image.jpg");
    padding: 100px;
    background-position: center;
    background-size: cover;
}
#about-us{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 100px;
    text-align: center;
}
#icons{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 100px;
}
#design-desc{
    text-align:center;
    display:none;
}
#dev-des{
    text-align:center;
    display:none; 
}
#pmanagement{
    text-align:center;
    display:none;
}
.list-unstyled{
    text-align: center;
}
h2{
    text-align: center;
}